<div class="basic-grey">
<h1><%= t 'title.entry' %></h1>

<ul>
  <li><%= link_to 'Kinds', kinds_path, :class => 'button'  %></li><br /><br /><br />
  <li><%= link_to 'Contacts', contacts_path, :class => 'button'  %></li>
</ul>
</div>
