<h1>Seja, bem-vindo!</h1>

<ul>
  <li><%= link_to 'Kinds', kinds_path  %></li>
  <li><%= link_to 'Kinds', contacts_path  %></li>
  <li><%= link_to 'Kinds', addresses_path  %></li>
  <li><%= link_to 'Kinds', phones_path  %></li>
</ul>
