<br /><div class="basic-grey">
<div class="row">
<h1><%= t 'title.entry' %></h1>

<ul>
  <li><%= link_to 'Kinds', kinds_path, :class => 'btn btn-success'  %></li><br /><br /><br />
  <li><%= link_to 'Contacts', contacts_path, :class => 'btn btn-success'  %></li><br /><br />
  <li><%= link_to 'Teste AJAX', kinds_path, :class => 'btn btn-success', remote: true  %></li>
</ul>
</div>
</div>
